body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

#flowers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.flower {
    border: 1px solid #ccc;
    padding: 10px;
    flex-basis: calc(33.333% - 10px);
}

#cart {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}